@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');

body{
    font-family: 'Montserrat', sans-serif !important;
}

.navbar--height {   
    height: 100px;
}

.navbar-dark .navbar-toggler-icon{
    background-image: url('../img/menu.svg');
    width: 20px;
    height: 16px;
}

.nav-link:hover:not(.btn-private-site, .btn-open-account){
    color: #320000 !important;
}


/*timeline**/

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
  }
  
  .timeline:before {
    top: 70px;
    bottom: 210px;
    position: absolute;
    content: " ";
    width: 1px;
    background-color: #FD6826;
    left: 4%;
    margin-left: -3.5px;
  }
  
  .timeline > li {
    margin-bottom: 65px;
    position: relative;
  }
  
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  .timeline > li > .timeline-panel {
    width: 86%;   
    padding: 20px;
    margin-left:45px;
    position: relative;

  }
  
  .timeline > li > .timeline-badge-uno {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 10%;
    background-color: #FD6826;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  .timeline > li > .timeline-badge-dos {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 28%;
    background-color: #FD6826;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  .timeline > li > .timeline-badge-tres {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16%;
    background-color: #FD6826;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  

  .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  
  .timeline-heading {
    width: 100%;
  }
  .timeline-clock {
    width: 25%;
  }
  
  .timeline-title {
    margin-top: 0;
    font-weight: 900;
    font-size: 36px;
    line-height: 37px;
    color: #320000;
  }
  
  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
  }
  
  .timeline-body > p + p {
    margin-top: 5px;
  }
  
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  
  .flex-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  
  .flex-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .flex-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  
  .flex-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  
  .flex-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  
  .flex-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .align-items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
/***/


.navbar-dark .navbar-toggler{
    border-color: rgba(255,255,255,0);
}

.dropdown-toggle::after{
    content: url(../img/flecha-der.png);
    margin-left: 23px;
    border-top: 0 ;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    vertical-align: 0px;
    transition: all 0.2s linear 0s;
}

.button-banner {
    padding: 20px 20px 19px;
    display: inline-block;
    background: #320000;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    border-radius: 70px;
    width: 330px;
    position: relative;
}

.button-banner.effect-1{
    transition: all 0.2s linear 0s;
}

.button-banner.effect-1:before {
    content: url(../img/chevron-down.svg);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 15px;
    top: 25px;
    opacity: 0;
    transition: all 0.2s linear 0s;
}

.button-banner:hover{
    background-color:#fff;
    color: #FD6826 !important;
    text-indent: -100px;
    border: 1px solid #FD6826 !important;
}

.button-banner--modifier:hover{
    text-indent: -58px;
}

.button-banner:hover:before{
    opacity: 1;
    text-indent: -40px;
    
}

.container-fluid{
    width: 90%;
}

.container-fluid--width{
    width: 100%;
}

.bg-orange {
    background: #FD6826;
}

.btn-private-site { 
    color: #083E7C;
    border: 1px solid #083E7C;
    border-radius: 70px;
    padding: 6.5px 18.5px 6.5px 18.5px   
}

.card-position {
    position: absolute;
    left: 130px;
}

.btn-private-site:hover { 
    color: #083E7C;   
}

.btn-open-account {
    color: #fff;
    background-color: #083E7C;
    border-radius: 70px;
    padding: 6.5px 18.5px 6.5px 18.5px
}

.btn-open-account:hover { 
    color: #fff;   
}

.container-jumbotron{
    height: 455px;
    background: linear-gradient(154.69deg, #FE6925 39.38%, #FF8634 99.25%);
}

.banner{
    padding: 180px 0px 110px 0px;
    background: linear-gradient(154.69deg, #FE6925 39.38%, #FF8634 99.25%);
}



.banner-tarjeta-trafalgar{
    margin-top: 95px;
    height: 455px;
    color: #fff;
}


.banner-cuenta-trafalgar{
    margin-top: 95px;    
    height: 227px;
    background-color: #F6F1EB;
}


.banner-main{
    height: 100%;
}

.banner-textos{
    width: 48%;
}

.banner-textos-cuenta-trafalgar{
    width: 52%;
}

.title{
    font-weight: 900;
    font-size: 46px;
    line-height: 48px;
    color: #fff;
}

.title-n{
    font-weight: 900;
    font-size: 46px;
    line-height: 48px;
    color: #FE6925;
}

.title-c{
    font-weight: 900;
    font-size: 46px;
    line-height: 48px;
    color:  #320000;
}

.copy{
    font-weight: 500;
    color: #fff;
    line-height: 23px;
}

.comercio-label{
    font-weight: 500;
    color: #320000;
    line-height: 23px;
    font-size:20px;
}

.beneficio-title,
.beneficio-item{
    font-weight: 500;
    color: #320000;
    line-height: 23px;
}

.copy-c{
    font-weight: 500;
    color: #320000;
    line-height: 23px;
}

.copy-n {
    color: #FF861A;
    line-height: 23px;
    font-weight: bold;    
}

.img-vector{
    margin-left: 10px;
}


.fz-25{
    font-size: 25px !important;
}

.fz-20{
    font-size: 20px !important;
}

.fz-16{
    font-size: 16px !important;
}

.fz-15{
    font-size: 15px !important;
}

.cta {
    padding: 20px 20px 19px;
    display: inline-block;
    background: #320000;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    border-radius: 70px;
    width: 330px;
}

.cta:hover{
    color: #fff;
}


.copy--link:hover{
    color: #fff;
    text-decoration: underline;
    transition: all 0.2s linear 0s;
}

.copy--link{
    color: #fff;
    text-decoration: none;
    line-height: 23px;
    font-weight:500;
}

.commission{
    padding: 125px 0px 251px 0px;
    background:#fff;
}

.commission .title{
    font-weight: 900;
    font-size: 36px;
    line-height: 37px;
    color: #320000;
    width: 75%;
}

.commission .copy,
.security .copy,
.security-all .copy,
.service .copy,
.control .copy,
.store .copy,
.consult .copy {
    color: #000;
    font-weight: 500;
    line-height: 23px;
}

.consult{
    height: 455px;
    background:#fff;
}

.consult .title{
    font-weight: 900;
    font-size: 36px;
    line-height: 37px;
    color: #320000;    
}

.commission .logo::after {
    content: "";
    background-color: transparent;
    display: block;
    height: 45px;
    position: relative;
    margin-top: -420px;
}

.logo::after {
      content: "";
      background-color: transparent;
      display: block;
      height: 45px;
      position: relative;
      margin-top: -210px;
}

.security{
   padding: 320px 0px 78px 0px;
   background-color:#F6F1EB;
}

.download-app{
    padding: 0px 0px 200px 0px;
    background-color:#fff;
    height:1048px;
 }



.security-all{
    padding: 255px 0px 80px 0px;
    background:#F6F1EB;
}

.security .title,
.security-all .title,
.service .title,
.store .title{
    font-weight: 900;
    font-size: 36px;
    line-height: 37px;
    color: #320000;
}

.control .title{
    font-size: 46px;
    line-height:48px;
    color: #320000;
    font-weight:900;
}  

.security--item{
    font-weight: 500;
}

.security .banner-textos{
    width: 48%;
    margin-right: 127px;
}

.security-all .banner-textos{
    width: 48%;
}


.security-all .logo{
   margin-top: -360px;
   margin-left: 0px;
}

.service{
    padding: 295px 0px 200px 0px;
}

.control{
    height: 836px;
    background:#fff;
}

.service .banner-textos{
    width: 30%;
}

.service-card{
    margin-right: 55px;
}

.store{
    padding: 84px 0px 105px 0px;
    background-color: #F6F1EB;
}

.store .copy--modifier {
    color: #320000;
}

footer{
    padding: 33px 70px 22px 70px;
    background-color: #320000;
}

footer .footer-ph-1{
    font-size: 25px;
    font-weight:900;
}

footer .logo-footer{
    width: 91px;
    height: 58px;
}

.active{
    color: #320000 !important;
}

.btn-open-account-mobile{
    background: #FD6826;
    border-radius: 70px;
    padding: 20px 70px;
}

.label-menu-mobile{
    font-size:40px;
    font-weight: 700;
    line-height: 22px;
    color: #FF861A;
}

.body-scroll{
    overflow-y: hidden;
}

.dropdown-menu{
    color: #fff;
    background-color: #320000;
    border: none;
}

.dropdown-item{
    color: #fff;
}

.security-all--title,
.banner-tarjeta-trafalgar .img--width,
.image-control{
    width: 42%;
}

.solicita{
    transition: all 0.2s linear 0s;
}

.solicita:hover{
    color: #FF861A;
    margin-right: 55px !important;
    transition: all 0.2s linear 0s;
}

/* SWIPER */
.swiper-container {
    width: 600px;
    height: 400px;
}

.swiper-pagination-bullet-active{
      background-color: #FD6826;
}

.swiper-pagination-bullet{
  margin: 0 0 0 20px !important;
}


.swiper-pagination{
    text-align: end;
}

.slide-title{
    color:#FD6826;
    font-size:21px;
    line-height:37px;
    font-weight: bold;
}

.banner-nosotros{
    height:470px;
    background-image: url(../img/banner-nosotros.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.construyendo{
    background-color: #320000;
    width:460px;
    position: absolute;
    top: 180px;
}

.construyendo .title{
    font-size:46px;
    color: #FD6826;
    line-height:48px;
    font-weight: 900;
}

.bank{
    padding: 134px 0px 65px 0px;
}

.bank .title,
.sucursal .title,
.banner-ayuda .title{
    font-size:46px;
    color: #320000;
    line-height:48px;
    font-weight: 900;
}

.bank .texto{
    width:55%;
}

.man::after {
    content: "";
    background-color: transparent;
    display: block;
    height: 45px;
    position: relative;
    margin-top: -315px;
}

.woman{
    width: 62%;
}

.sucursal{
    padding: 120px 0px 140px 0px;
    background-color: #F6F1EB;
}

.sucursal .subtitle{
    font-weight: 500;
    font-size:20px;
    line-height:26px;
    color: #320000;
}

.sucursal .button-banner--modifier:hover{
    text-indent: -200px;
}

.banner-ayuda{
    background-color: #F6F1EB;
    padding: 175px 0px 70px 0px;
}

.ayuda{
    padding: 70px 0px 95px 0px;
}

.ayuda .title{
    font-size:36px;
    line-height: 37px;
    color: #320000;
    font-weight:300;
}

.accordion-item{
    margin-bottom: 15px;
   border-radius:70px;
   border: 1px solid transparent;
}


.accordion-header{
 
   border-radius:70px
}

.accordion-button{
   border: 1px solid #083E7C;
   border-radius:70px;
   color: #083E7C;
   font-weight: 500;
}

.accordion-button:focus{
    box-shadow: none;
    border-color: #083E7C;
}

.accordion-button:not(.collapsed){
    color: #fff;
    background-color: #FD6826;
    box-shadow: none;
    border:1px solid #FD6826;
}

.accordion-button:not(.collapsed)::after{
    background-image: none;
}

.accordion-body{
    font-size:15px;
    color: #320000;
    font-weight: 500;
}

.accordion-item:first-of-type{
    border-top-right-radius: 70px;
    border-top-left-radius: 70px;
}

.accordion-item:first-of-type .accordion-button{
    border-top-right-radius: 70px;
    border-top-left-radius: 70px;
}

.accordion-item:last-of-type{
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 70px;
}

.accordion-item:last-of-type .accordion-button.collapsed{
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 70px;
}


.dudas .title{
    font-size:36px;
    line-height:48px;
    color: #320000;
    font-weight: 900;
}

.dudas .subtitle{
    font-weight: 500;
    color: #320000;
}

.dudas .info{
    font-size: 20px;
    line-height:36px;
    font-weight: 500;
    color: #FD6826;
}

.dudas .button-banner--modifier:hover{
    text-indent: -150px;
}

.border-section{
    border-right: 1px solid #E5E5E5;
}

footer .line{
    margin: 19px 0px !important;
}

/*-----------------------------------  MOBILE ----------------------------------------------------------*/

@media only screen and (max-width: 600px) {

     .container-fluid{
        width: 100%;
     }
    

      #navbarSupportedContent ul li:not(:last-child,.list-drop){
        border-bottom: 1px solid rgba(255,255,255,0.1);
      }

      .nav-link:hover:not(.btn-private-site, .btn-open-account){
        color: #fff !important;
      }

      .nav-link.dropdown-toggle.show{
        color: #FD6826 !important;
      }
    
      .dropdown-toggle.show::after{
        content: url(../img/flecha-down.png);
        margin-left: 23px;
        border-top: 0 ;
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
        vertical-align: 0px;
        transition: all 0.2s ease-out 1s;
    }

    .dropdown-item:focus, .dropdown-item:hover{
        color: #fff;
        background-color: transparent;
    }

    .dropdown-item.active, .dropdown-item:active{
        background-color: transparent;
    }
      /* #navbarSupportedContent a:not(.no-hover):hover{
        border-bottom: none;
        color: #fff !important;
      }
     */
      .offcanvas-header{ 
          display:block; 
      }
    
      .navbar-collapse {
        position: fixed;
        top:0; 
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #320000;
    
      }
      
      .navbar-collapse.show {
        visibility: visible;
        transform: translateX(-100%);
      }

      .shadow-img{
          background-position: center;
      }

      .banner{
          padding: 115px 0px 20px 0px;
      }

      .card-position {
            position: inherit;
            left: 0px;
       }   

      .btn-open-account{
          font-size:13px;
      }

    .consult,
    .control{
        height: 100%;
    }

    .security-all{
        padding: 50px 0px 35px 0px;
    }

    .banner-tarjeta-trafalgar{
        height: 100%;
        margin-top:160px;
    }

    .security .banner-textos{
        width: 100%;
    }

    .commission{
        padding: 15px 0px 0px 0px;
    }

    .commission .title,
    .banner-textos,
    .service .banner-textos,
    .banner-tarjeta-trafalgar .img--width,
    .security-all--title,
    .security-all .banner-textos,
    .image-control {
        width: 100%;
    }    

    .consult .title{
        color: #fff;
    }

    .consult .title--modifier{
        color: #320000;
    }

    .security{
        padding:50px 0px 0px 0px;
    }

    .store{
        padding:62px 0px 100px 0px;
    }
    
    .security .logo{
        padding-top: 115px;
       text-align: center;
     }


    .security .logo::after{
        margin-top: -195px;
     }

     .consult .logo::after{
        margin-top: -120px;
     }

     .service{
        padding: 235px 0px 80px 0px;
     }

     .service-card{
        margin-right: 0px;
    }

    .title-n,
    .title-c,
    .construyendo .title,
    .bank .title,
    .sucursal .title,
    .control .title,
    .banner-ayuda .title{
        font-size:36px;
        line-height:37px;
    }

    .comercio-label{
        font-size: 16px;
    }

    .beneficio-item,
    .beneficio-title{
        font-size: 15px;
    }


    .swiper-container {
        width: 350px;
        height: 355px;
    }

    .swiper-pagination{
        text-align: center;
    }

    .construyendo{
        width:340px;
        top: 295px;
    }


    .bank .texto{
        width:100%;
    }

    .bank{
        padding: 320px 0px 38px 0px;
    }

    .w-75{
        width: 100% !important;
    }

    .man::after{
        margin-top: 0px;
    }

    .woman::after{
        content: "";
        background-color: transparent;
        display: block; 
        height: 45px;
        position: relative;
        margin-top: -165px;
    }

    .woman {
        width:100%;
    }

    .woman-title{
        color: #fff !important;
    }

    .sucursal .subtitle{
        font-size: 16px;
        line-height: 23px;
    }

    .sucursal{
        padding: 60px 0px 110px 0px;
    }

    .sucursal .button-banner{
        background-color: #083E7C;
        text-align: center;
    }

    .sucursal .button-banner--modifier:hover{
        color: #fff;
        text-indent: 0px;
    }
    
    .sucursal .button-banner.effect-1:before {
        content: none;
    }
    
    .sucursal .button-banner:hover{
        color: #FFF !important;
        border: 1px solid #083E7C !important;
    }

    .banner-ayuda{
        background-color: #fff;
        padding: 175px 0px 0px 0px;
    }

    footer{
        padding: 38px 24px;
    }

    footer .links.text-white{
        --bs-text-opacity: 0.4;
    }

    .border-section{
        border-bottom: 1px solid #E5E5E5;
    }

    footer .line{
        margin: 41px 0px !important;
    }

    
    .shadow-img{
        background-image: url(../img/shadow-bar.png);
        background-position: center;
        background-repeat: no-repeat;
        background-color: #FE6925;
    }

    .solicita:hover{
        margin-right: 28px !important;
    }
  }


  @media only screen and (min-width: 400px) and (max-width: 420px) {

    .consult .banner-textos{
        width: 88%;
    }

  }






